* {
	box-sizing: border-box;
  vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}

/* css reset from https://perishablepress.com/a-killer-collection-of-global-css-reset-styles/ */
/*background image credit (darkmode): <a href="https://www.freepik.com/photos/vintage">Vintage photo created by benzoix - www.freepik.com</a>*/
/* background image credit (lightmode): <a href='https://www.freepik.com/photos/vintage'>Vintage photo created by benzoix - www.freepik.com</a> */
/*image placeholders - project 1-6: <a href='https://www.freepik.com/photos/dog'>Dog photo created by jcomp - www.freepik.com</a> */




body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
 } 

h2 {
  font-size: 1em;
  font-weight: bold;
}

p {
  font-size: .75em;
  font-weight: normal;
}

header {
  padding: 40px;
  text-align: center;
  background: none;
  color: black;
}

.name {
  letter-spacing: 1em;
  font-size: 3em;
   }

.modern {
   letter-spacing: .5em;
   font-size: 2em;
   padding-top: .5em;
    }

span {
  color: darkgrey;
  font-style: italic;
}

nav {
  display: flex;
  background-color: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 25%;
  margin-right: 25%;
}

section {
  flex: 0 0 300px;
  background-color: none;
  padding: 10px;
  text-align: center;
}

img {
  width: 100%;
  opacity: .5;
  }

img:hover {
  width: 100%;
  opacity: 1;
}

footer {
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
  background: none;
  color: black;
  margin-top: auto;
  font-size: .75em;
}

/* padding and styling for project images */
.project {
  padding: 10px 10px;
  border: none;
  background-color: none;
}



@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
  header {
    background: none;
  }
  nav,
  footer {
    background-color: none;
    
  }
}

